<!-- Dropbox -->
<div class="panel {{'panel-success' if config.CONFIG_DB.has_dropbox else 'panel-default'}}">
  <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#oauth" href="#dropbox">Dropbox</a></h4></div>
  <div id="dropbox" class="panel-collapse collapse">
    <div class="panel-body">
      {{forms.text_field(form.dropbox_app_key)}}
      {{forms.text_field(form.dropbox_app_secret)}}
      <p class="help-block">
        OAuth redirect URI for <a href="https://www.dropbox.com/developers/apps" target="_blank">Dropbox</a>: <em>{{'https://%s%s' % (request.host, url_for('dropbox_authorized'))}}</em>
      </p>
    </div>
  </div>
</div>
