<!-- GitHub -->
<div class="panel {{'panel-success' if config.CONFIG_DB.has_github else 'panel-default'}}">
  <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#oauth" href="#github">GitHub</a></h4></div>
  <div id="github" class="panel-collapse collapse">
    <div class="panel-body">
      {{forms.text_field(form.github_client_id)}}
      {{forms.text_field(form.github_client_secret)}}
      <p class="help-block">
        Callback URL for <a href="https://github.com/settings/applications" target="_blank">GitHub application</a>: <em>{{'%s%s' % (request.host_url[:-1], url_for('github_authorized'))}}</em>
      </p>
    </div>
  </div>
</div>