<!-- Reddit -->
<div class="panel {{'panel-success' if config.CONFIG_DB.has_reddit else 'panel-default'}}">
  <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#oauth" href="#reddit">Reddit</a></h4></div>
  <div id="reddit" class="panel-collapse collapse">
    <div class="panel-body">
      {{forms.text_field(form.reddit_client_id)}}
      {{forms.text_field(form.reddit_client_secret)}}
      <p class="help-block">
        Redirect URL for <a href="https://ssl.reddit.com/prefs/apps/" target="_blank">Reddit application</a>: <em>{{url_for('reddit_authorized', _external=True)}}</em>
      </p>
    </div>
  </div>
</div>
